# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# PyCharm project files
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# SQLite database files
*.sqlite

# Package distribution
*.egg-info/
dist/
build/
*.egg
